name: Ciclo de Integra칞칚o e Vari치veis
run-name: Execu칞칚o do pipeline por $ {{ github.actor }} 游

# Dispara quando algu칠m fizer push nas banches escolhidas
on:
  push:
    branches:
      - main
      - develop
jobs:
  demo-variaveis:
    runs-on: ubuntu-latest # M치quina virtual onde tudo roda

    steps:
      -name: 游댌 Infos do Contexto
      # Mostra dados autom치ticos do ambiente GitHub Actions
      run: |
        echo "Usu치rio: $ {{ github.actor }}"
        echo "Evento: $ {{ github.event_name }}"
        echo "Branch: $ {{github.ref }}"
        echo "Reposit칩rio: $ {{ github.repository }}"
        echo: "Runner: $ {{ runner.os }}"

      - name: 游닍 Vari치veis do Reposit칩rio
      # Usa vari치veis configuradas em Settings > Variables
      run: |
        echo: "Ambiente: $ {{ vars.AMBIENTE }}"
        echo: "API_URL: $ {{ vars.API_URL }}"
        
        -name: 游댏 Acessar Secret
        # Secrets s칚o sempre mascarados
        run: echo "Senha tem ${#${{ secrets.PASSWORD }}} caracteres"

        -name: 游닇 Criar vari치vel local
        # Vari치veis internas do workflow s칚o adicionadas ao arquivo $GITHUB_ENV
        run: echo "ALUNO=Emanuelly" >> $GITHUB_ENV

        -name: 游늯 Usar variv치vel local
        run: echo "Valor interno: $ALUNO"

        -name: 九덢잺 Finaliza칞칚o
        # Mostra o status final do job (sucess, failure, etc)
        run: echo "Status do job: $ {{ job.status }}"
